# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.vscode/
.pytest_cache/

# Datos y artefactos
data/processed/
models/
outputs/
*.log
data/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
